$primary: #336699;

@import 'bootstrap/scss/bootstrap';

.App {
  text-align: center;
  background-color: $primary;
  color: white;
  min-height: 100vh;
  margin: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

